
*.xcworkspacedata

*.xcuserstate

*.xcbkptlist

BlockGraphEditor.xcodeproj/xcuserdata/hackintosh_pc2.xcuserdatad/xcschemes/BlockGraphEditor.xcscheme

BlockGraphEditor.xcodeproj/xcuserdata/hackintosh_pc2.xcuserdatad/xcschemes/xcschememanagement.plist
